* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

body {
	background-color: #FAEBD7;
}

/******************* Navbar *********************/
#fixed-navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.container {
	margin: 0px 0px 0px 0px;
}

#header-nav {
	background-color: #2F4F4F;
	border-radius: 0px;
}

#brand {
	font-weight: semi-bold;
	text-shadow: .5px .5px .5px #FAEBD7;
	color: #DAA520;
}


/**************** Drop-down menu ***************/
#menu:hover {
	background: #DAA520;
}

#menu:active {
	background: #DAA520;
}

#menu , .icon-bar {
  border: 1px solid #FAEBD7;
}

#nav-menu {
	margin-top: 70px;
	padding: 0px;
	border: 0;
}

#menu-list {
	margin: 0px;
	padding: 0px;
	width: 100%;
	align: center;
}

#menu-list a {
	margin: 0px;
	padding: 10px;
	border-top: 1px solid #DAA520;
	border-left: 1px solid #DAA520;
	border-right: 1px solid #DAA520;
	text-align: center;
	color: #DAA520;
}


/********* Dropdown menu item selection *********/
.menu-item {
	text-shadow: 0.3px 0.3px 0.3px #FAEBD7;
	font-size: 1.25em;
	color: #DAA520;
}

.menu-item:hover {
	background-color: #FAEBD7;
	color: #2F4F4F;
}

.scroll-menu-option {
	scroll-margin-top: 90px;
}


/******************* Content ********************/
/* Header */
#content-header{
	font-size: 200%;
	text-align: center;
	font-weight: semi-bold;
	margin: 100px 0px 20px 0px;
}

.content-container {
	margin: 0px;
}

/** Menu Items Main **/
.item {
	margin: 0px 10px 20px 10px;
	position: relative;
	background-color: #DFDFDF;
	padding: 0px 5px 5px 5px;
	border-radius: 10px;
}

/* Item name */
h3 {
	padding: 10px 20px 0px 20px;
	margin: 0px;
	text-align: center;
	font-size: 125%;
	font-weight: semi-bold;
}

.description {
	margin: 10px 10px 10px 10px;
	clear: right;
	background-color: #DFDFDF;
}

/************** Back to Top Link ****************/
.top-of-page {
	margin: 10px 0px 0px 0px;
	padding-bottom: 20px;
	text-decoration: none;
	color: #2F4F4F;
}

.top-of-page:hover {
	color: #DAA520;
	text-decoration: none;
}


